:root {
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-body: 1.125rem;
  --fs-heading-xl: 5.5rem;
  --fs-heading-l: 3rem;
  --fs-heading-m: 1.5rem;
  --fs-heading-tab: 4.5rem;
  --fs-heading-mob: 2.5rem;
  --fs-heading-mob2: 2rem;

  --clr-accent: #4ee1a0;
  --clr-bg-body: #151515;
  --clr-text: #ffffff;
  --clr-text2: #d9d9d9;
  --clr-bg-contact: #242424;

  --wrapper: 69.375rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  color: var(--clr-text);
  background-color: var(--clr-bg-body);
  font-size: var(--fs-body);
  line-height: 1.56;
}

.wrapper {
  width: calc(100% - 2rem);
  max-width: var(--wrapper);
  margin-inline: auto;
}

@media (min-width: 37.5em) {
  .wrapper {
    width: calc(100% - 3.75rem);
  }
}

a:hover {
  color: var(--clr-accent);
}

/* Header */

/* fluid typography using clamp */

.home {
  font-size: var(--fs-heading-m);
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  color: var(--clr-text);
  text-decoration: none;
}
